<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties>
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/javahw?serverTimezone=GMT%2B8&amp;allowMultiQueries=true"/>
        <property name="username" value="root"/>
        <property name="password" value="Nku1811499"/>
    </properties>

    <!-- 配置全局属性 -->
    <settings>
        <setting name="autoMappingBehavior" value="NONE" />
        <!-- &lt;!&ndash; 使用jdbc的getGeneratedKeys获取数据库自增主键值 &ndash;&gt;
         <setting name="useGeneratedKeys" value="true" />

         &lt;!&ndash; 使用列别名替换列名 默认:true &ndash;&gt;
         <setting name="useColumnLabel" value="true" />

         &lt;!&ndash; 开启驼峰命名转换:Table{create_time} -> Entity{createTime} &ndash;&gt;
         <setting name="mapUnderscoreToCamelCase" value="true" />-->
    </settings>

    <typeAliases>
        <typeAlias alias="User" type="com.mobile_service.entity.User"/>
        <typeAlias alias="Deposit" type="com.mobile_service.entity.Deposit"/>
        <typeAlias alias="Consumption" type="com.mobile_service.entity.Consumption"/>
    </typeAliases>

    <!-- 环境，可以配置多个，default：指定采用哪个环境 -->
    <environments default="test">
        <!-- id：唯一标识 -->
        <environment id="test">
            <!-- 事务管理器，JDBC类型的事务管理器 -->
            <transactionManager type="JDBC" />
            <!-- 数据源，池类型的数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/javahw?serverTimezone=GMT%2B8&amp;allowMultiQueries=true" />
                <property name="username" value="root" />
                <property name="password" value="Nku1811499" />
            </dataSource>
        </environment>
        <environment id="development">
            <!-- 事务管理器，JDBC类型的事务管理器 -->
            <transactionManager type="JDBC" />
            <!-- 数据源，池类型的数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" /> <!-- 配置了properties，所以可以直接引用 -->
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.mobile_service.dao.UserDao"/>
        <mapper resource="UserDao.xml"/>
    </mappers>


</configuration>



